header{
    padding: 0px 0px 0px 15px;
}
body {
    width: 512px;
    border: 1px dotted black;
}
section{
    border: 1px solid black;
    width: 450px;
    margin: 20px 30px 20px 30px;
}
h2{
    margin: 19px 0px 0px 15px;
}
p{
    padding: 0px 18px 0px 15px;
    margin-bottom: 35px;
    margin-top: 0px;
}
.footer{
    padding: 0px 18px 0px 46px;
}
hr {
    border: 1px solid black;
}