header{
        padding: 10px 0px 10px 20px;
}
h1{
    margin: 0;
}
body {
    width: 512px;
    border: 1px dotted black;
    margin: 0;
}
main{
    width: 512px;
    padding: 20px 30px;
    box-sizing: border-box;
}
section{
    box-sizing: border-box;
    border: 2px solid black;
    padding: 20px;
    width: 450px;
    height: 137px;
    margin-bottom: 20px;
}
section:last-of-type {
  margin-bottom: 0;
}
h2{
    margin: 0px
}
.card{
    padding: 0px;
    margin: 0px;
}
hr {
    border: 1px solid black;
    margin: 0;
}
footer{
padding:8px 0px 20px 20px;
}
.sign {
    margin: 0;
}